h2 {
  width: 100%;
  background-color: rgb(0, 187, 78);
  color: red;
}

.caja-verde {
  background-color: olive;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}

marquee {
  border: solid 1px green;
}